body {
  max-width: 500px;
  margin: 80px auto;
  background-color: rgb(203, 228, 218);
}

.breadcrumbs {
  position: absolute;
  top: 20px;
  left: 50px;
}

.breadcrumbs a {
  text-decoration: none;
  color: darkcyan;
  margin-right: 20px;
}

.active {
  border-bottom: 2px solid darkcyan;
  padding-bottom: 4px;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.container {
  background-color: white;
  padding: 30px 25px 50px 25px;
  box-shadow: 0px 2px 5px rgba(67, 68, 67, 0.466);
  border-radius: 5px;
}

ul {
  margin-left: -40px;
}

li {
  box-shadow: 0px 3px 4px lightgray;
  background-color: rgba(219, 217, 213, 0.212);
  border-radius: 5px;
  padding: 15px 25px;
  position: relative;
  list-style-type: none;
  margin: 20px;
}

.fa-trash {
  font-size: 18px;
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.message {
  text-align: center;
  border: 2px solid rgb(158, 157, 157);
  border-radius: 5px;
  background-color: rgb(238, 237, 237);
  padding: 10px 5px;
  margin-top: 30px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  align-items: ;
  justify-content: center;
}

input,
button {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid darkcyan;
}

button {
  background-color: darkcyan;
  color: white;
}
